body {
    background-color: rgb(219, 242, 253);
}

.img{
    padding-right: 500px;
}


.home {
    font-size: 40px;
}

.title {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(43, 15, 67);


}

.body {
    font-size: 30px;
    padding-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}

.points{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

